.idea/workspace.xml
spectro-spi/target
xth/target 
xr8000/target 
sp62/target 
spectrolino/target 
ce7000/target 
ce3000/target 
ce2180/target
dci/target 
hunter/target 
manual/target 
sp68/target
ce3000/target/
ce7000/target/
dci/target/
hunter/target/
target/
